.section--investment{
    padding: 70px 0;
    margin-bottom: 0;
    .section_title{
        h1{
            font-size: 57px;
            line-height: 66px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 80px;
            padding-left: 25px;
            margin-right: 60%;
        }
    }
    .investment-blog{
        margin-bottom: 60px;
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
        img{
            margin-bottom: 24px;
            width: 100%;
        }
        h3{
            color: #262626;
            font-weight: 400;
        }
        .explore-more{
            color: #0F62FE;
            line-height: 20px;
            font-family: "IBM Plex Sans", sans-serif;
            svg{
                margin-left: 10px;
                display: inline-block;
                transform: translateX(0px);
                transition: transform 0.3s ease-out;
            }
            &:hover svg{
                transform: translateX(5px);
            }
        }
    }
}

@media (max-width:767px){
    .section--investment{
        padding: 40px 0;
        .section_title{
            h1{
                text-align: center;
                font-size: 46px;
                margin-bottom: 60px;
                padding-left: 0;
                margin-right: 0;
            }
        }
        .investment-blog{
            max-width: 100%;
            h3{
                font-size: 22px;
            }
        }
    }
}

@media (max-width:425px){
    .section--investment{
        padding: 20px 0;
        .section_title{
            h1{
                margin-bottom: 40px;
                font-size: 40px;
                line-height: 45px;
            }
        }
        .investment-blog{
            margin-bottom: 30px;
        }
    }
}