.section--our-team{
    padding: 100px 0 0;
    margin-bottom: 0;
    position: relative;
    .section_title{
        h1{
            font-size: 53px;
            line-height: 70px;
            color: #262626;
            font-weight: 300;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        h4{
            font-size: 28px;
            line-height: 34px;
            color: #000000;
            font-weight: 300;
            margin-bottom: 0
        }
    }
}
@media (max-width:767px) {
    .section--our-team{
        padding: 118px 0 0;
        .section_title{
            h1{
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
            h4{
                font-size: 22px;
                line-height: 32px;
            }
        }
    }
}