.section--portfolio{
    background: url(/assests/images/portfolio-bg-img.png) no-repeat #000000;
    padding: 128px 0;
        h2{
            font-size: 57px;
            line-height: 66px;
            color: #FFFFFF;
            margin-bottom: 60px;
            padding-left: 230px;
        }
        .portfolio{
            padding-left: 200px;
            [class*=col-]{
                margin-bottom: 50px;
                text-align: center;
            }
            [class*=col-]:last-child{
                margin-bottom: 0;
            }
        }

}

@media (max-width:992px){
    .section--portfolio{
        .portfolio{
            img{
                max-width: 85%;
            }
        }
    }
}

@media (max-width:767px) {
    .section--portfolio{
        padding: 100px 0;
        h2{
            padding-left: 0;
            text-align: center;
        }
        .portfolio{
            padding-left: 0;
            text-align: center;
            img{
                max-width: 100%;
            }
        }
    }
}

@media (max-width:425px){
    .section--portfolio{
        padding: 70px 0;
        h2{
            font-size: 40px;
        }
    }
} 